variable "profile" {
  type = string
  default = "unegma"
}

variable "region" {
  type = string
  default = "eu-west-2"
}

variable "WEBSITE_URL" {
  type = string
  default = "password-protected-lambda.mydomain.com"
}

variable "FUNCTION_NAME" {
  type = string
  default = "Password_Protected_Lambda"
}

# todo have to create this manually because not using route53?
variable "certificate_arn" {
  type = string
  default = "arn:aws:acm:us-east-1:123456:certificate/1234567890"
}
